*, *::before, *::after {
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
    height: 100vh; 
    width: 100%;
    display: flex;
}

.background {
    background-image: url("messi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30%;
}